
@{
    ViewBag.Title = "Nonlogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nonlogin</h2>

<a class="text-danger" href="@Url.Action("Login","Account",new { })">
    請登入會員
</a>

